<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>淘书街修改出售留言</title>
	<link rel="shortcut icon" href="__IMG__/shu.ico" />
	<link rel="stylesheet" href="__CSS__/back/user.css" />
	<link rel="stylesheet" href="__CSS__/back/common.css" />
	<link rel="stylesheet" href="__CSS__/back/add.css" />
	<link rel="stylesheet" href="__CSS__/back/edit.css" />

	<script type="text/javascript" src="__JS__/back/jquery.min.js"></script>
	<script type="text/javascript" src="__JS__/back/public.js"></script>
	<script type="text/javascript" src="__JS__/back/editNotice.js"></script>
</head>
<body>
	<!-- 头部	 -->
	{include file="../application/admin/view/common/header.html"}
	<!-- 头部结束	 -->

	<!-- 左边节点 -->
	{include file="../application/admin/view/common/menu.html"}
	<!--左边结点结束-->
	
	<!--main开始-->
	<div id="MainForm">
		<div class="form_boxA">
			<div class="a">
				<h2>淘书街-修改 出售留言 </h2>
			</div>
			<form action="/admin/bcomment/commentEdit" method="post" class="add_form" onsubmit="return checkEditNotice()">
				<div style="float: left;">
				<input type="hidden" name="bcomment_id" value="<?php echo $edit['bcomment_id']; ?>" />
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>留言书籍：</label>
					<select name="sale_id" class="add_input">
						{volist name="sale_book" id="value"}
						<option value="{$value.sale_id}" <?php if( $edit['sale_name'] == $value['sale_name'] ) echo "selected"; ?> > {$value.sale_name}</option>
						{/volist}
					</select>
				</div>
				
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>留言人：</label>
					<select name="user_id" class="add_input">
						{volist name="users" id="vo"}
						<option value="{$vo.user_id}" <?php if( $edit['user_realname'] == $vo['user_realname'] ) echo "selected"; ?> > {$vo.user_realname}</option>
						{/volist}
					</select>
				</div>
				<div class="add_list">
					<label class="add_label" style="margin-top: 30px;"><span class="xing">*</span>留言内容：</label>
					<textarea name="content" class="add_textarea" onfocus="Content()" onblur="checkContent()">{$edit.bcomment_content}</textarea>
				</div>
				</div>
				<input type="submit" value="修改" class="add_submit" />
			</form>
		</div>
	</div>
	<!--main结束-->
	
</body>
</html>
<script>
	var user = document.getElementById("user");
	user.getElementsByClassName("icon1")[0].style.display = "block";
	user.getElementsByClassName("icon2")[0].style.display = "none";
	user.getElementsByClassName("icon3")[0].style.display = "block";
	user.getElementsByClassName("icon4")[0].style.display = "none";
	user.getElementsByClassName("icon5")[0].style.display = "block";
	user.getElementsByClassName("coin11")[0].style.display = "block";
	user.getElementsByClassName("coin22")[0].style.display = "none";
	
	user.getElementsByTagName("dd")[1].style.display = "block";
	
	user.getElementsByClassName("cks")[0].setAttribute("class", "menu_chioce2");
	user.getElementsByTagName("dd")[0].style.display = "block";
</script>