<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街求购书籍管理</title>
		<link rel="shortcut icon" href="__IMG__/shu.ico" />
		<link rel="stylesheet" href="__CSS__/back/user.css" />
		<link rel="stylesheet" href="__CSS__/back/common.css" />
		<link rel="stylesheet" href="__CSS__/back/page.css" />
		<link rel="stylesheet" href="/static/font/css/font-awesome.min.css" />
		
		<script type="text/javascript" src="__JS__/back/jquery.min.js"></script>
		<script type="text/javascript" src="__JS__/back/public.js"></script>
		<script type="text/javascript" src="__JS__/back/search.js"></script>
		<script type="text/javascript" src="__JS__/back/CheckBox.js"></script>
		
		<style>
			.form_boxA td{
				font-size: 13px;
    			padding: 14px 7px;
			}
		</style>
	</head>
	<body>
	<!-- 头部	 -->
	{include file="../application/admin/view/common/header.html"}
	<!-- 头部结束	 -->

	<!-- 左边节点 -->
	{include file="../application/admin/view/common/menu.html"}
	<!--左边结点结束-->
	
	<!--用户列表开始-->
	<div id="MainForm">
		<div class="form_boxA">
			<div class="a">
				<h2>淘书街求购书籍列表</h2>
				<form action="/admin/inquiry/inquiryBookSearch" method="post" onsubmit="return checkSearch()" class="searchform">
					<input type="text" class="search" placeholder="书名" name="search" />
					<input type="submit" class="search_button" value="搜索" />
				</form>
				<a href="/admin/inquiry/addPage" class="addUser"><i class="fa fa-plus-circle"></i> 添加新求购</a>
			</div>
			<form action="/admin/inquiry/checkedBookDelete" method="post">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<th><input type="checkbox" name="fullChoose" onclick="fullChecked(this)" /></th>
					<th>ISBN</th>
					<th>书名</th>
					<th>作者</th>
					<th>出版社</th>
					<th>类型</th>
					<th>新旧程度</th>
					<th>价格</th>
					<th>库存</th>
					<th>简介</th>
					<th>求购人</th>
					<th>操作</th>
				</tr>
				{volist name="inquiryBookList" id="value"}
				<tr>
					<td><input type="checkbox" name="ids[]/a" onclick="eachChecked()" class="eachChoose" value="{$value.inquiry_id}"/></td>
					<td>{$value.inquiry_isbn}</td>
					<td class="inquiry_c" style="max-width: 120px;">
						<img src="{$value.inquiry_img}" style="width: 21px;height: 30px;vertical-align: middle;" />
						{$value.inquiry_name}
					</td>
					<td class="inquiry_c" style="max-width: 90px;">{$value.inquiry_author}</td>
					<td class="inquiry_c" style="max-width: 80px;">{$value.inquiry_publishing}</td>
					<td class="inquiry_c" style="max-width: 80px;">{$value.second_name}</td>
					<td>{$value.inquiry_degrees}</td>
					<td>
						<span style="color: #19a97b;">￥{$value.inquiry_minprice}~￥{$value.inquiry_maxprice}</span>
					</td>
					<td>{$value.inquiry_num}</td>
					<td class="inquiry_c" >
						<div style="width: 200px;height: 100px; overflow: hidden; overflow-y: scroll;">{$value.inquiry_content}</div>
					</td>
					<td>{$value.user_realname}</td>
					<td>
						<a href="/admin/inquiry/editPage?inquiry_id={$value.inquiry_id}" class="op"><i class="fa fa-edit" title="编辑"></i></a> 
						<a href="/admin/inquiry/inquiryBookDelete?inquiry_id={$value.inquiry_id}" class="op" onclick="return del()">
							<i class="fa fa-trash-alt" title="删除"></i>
						</a> 
					</td>
				</tr>
				{/volist}
			</table>
			<p class="msg">
				<span id="notdisplay" style="display: none;"></span>
				<input type="submit" value="删除选中" class="delBtn" id="delBtn" disabled="disabled" onclick='return checkdel();'/>
				共找到 {$bookNumber} 条会员信息，每页显示15条记录
			</p>
			<div class="" style="text-align: center;margin-bottom:20px; ">
			{$inquiryBookList->render()}
			</div>
			</form>
		</div>
	</div>
	<!--用户列表结束-->
	
	</body>
</html>


<script>
	var user = document.getElementById("user");
	user.getElementsByClassName("icon1")[0].style.display = "block";
	user.getElementsByClassName("icon2")[0].style.display = "none";
	user.getElementsByClassName("icon3")[0].style.display = "block";
	user.getElementsByClassName("icon4")[0].style.display = "none";
	user.getElementsByClassName("icon5")[0].style.display = "block";
	user.getElementsByClassName("coin11")[0].style.display = "block";
	user.getElementsByClassName("coin22")[0].style.display = "none";
	
	user.getElementsByTagName("dd")[1].style.display = "block";
	
	user.getElementsByClassName("cks")[0].setAttribute("class", "menu_chioce2");
	user.getElementsByTagName("dd")[0].style.display = "block";
	
	function del(){
		return window.confirm("你确认要删除该书籍、包括该书籍的留言信息吗？");
	}
	function checkdel(){
		return window.confirm("你确认要删除选中的书籍、包括书籍的留言及订单信息信息吗？");
	}
</script>