<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街添加求购书籍</title>
		<link rel="shortcut icon" href="../../static/images/shu.ico" />
		<link rel="stylesheet" href="../../static/css/back/user.css" />
		<link rel="stylesheet" href="../../static/css/back/common.css" />
		<link rel="stylesheet" href="../../static/css/back/add.css" />
	</head>
	<body>
	<!-- 头部 -->
	<iframe src="./head.html" width="100%" height="92px"></iframe>
	<!-- 左边节点 -->
	<iframe src="./container.html" style="float: left;width: 220px;height: 280px"frameborder="0"></iframe>
	<!--左边结点结束-->
	
	<!--添加用户开始-->
	<div id="MainForm">
		<div class="form_boxA">
			<div class="a">
				<h2>淘书街添加新求购留言</h2>
			</div>
			<form action="" method="post" class="add_form" onsubmit="">
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>评论书籍：</label>
					<select class="add_input" name="name" style="font-size: 13px;">
						<option value="">马克思主义原理</option>
						<option value="">计算机与网络</option>
						<option value="">高等数学</option>
						<option value="">线性代数</option>
					</select>
				</div>
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>评论人：</label>
					<select class="add_input" name="user" style="font-size: 13px;">
						<option value="">小猪</option>
						<option value="">小黄</option>
						<option value="">小洪</option>
						<option value="">小二</option>
					</select>
				</div>
				<div class="add_list">
					<label class="add_label" style="margin-top: 30px;"><span class="xing">*</span>评论内容：</label>
					<textarea name="content" class="add_textarea" onblur="" onfocus=""></textarea>
				</div>
				<input type="submit" value="提交" class="add_submit" />
			</form>
		</div>
	</div>
	<!--添加用户结束-->
	</body>
</html>