<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街修改公告信息</title>
		<link rel="shortcut icon" href="../../static/images/shu.ico" />
		<link rel="stylesheet" href="../../static/css/back/user.css" />
		<link rel="stylesheet" href="../../static/css/back/common.css" />
		<link rel="stylesheet" href="../../static/css/back/add.css" />
		<link rel="stylesheet" href="../../static/css/back/edit.css" />
		<script type="text/javascript" src="../../static/js/back/jquery.min.js"></script>
		<script type="text/javascript" src="../../static/js/back/public.js"></script>
		<script type="text/javascript" src="../../static/js/back/editNotice.js"></script>
	</head>
	<body>
	<!-- 头部 -->
	<iframe src="./head.html" width="100%" height="92px"></iframe>
	<!-- 左边节点 -->
	<iframe src="./container.html" style="float: left;width: 220px;height: 280px"frameborder="0"></iframe>
	<!--左边结点结束-->
	
	<!--main开始-->
	<div id="MainForm">
		<div class="form_boxA">
			<div class="a">
				<h2>淘书街-修改 公告 基本信息</h2>
			</div>
			<form action="" method="post" class="add_form" onsubmit="">
				<div style="float: left;">
				<input type="hidden" name="id" value="" />
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>标题：</label>
					<input type="text" name="name" class="add_input" placeholder="请输入公告标题" value="" onfocus="" onblur="" />
				</div>
				<div class="add_list">
					<label class="add_label" style="margin-top: 30px;"><span class="xing">*</span>内容：</label>
					<textarea name="content" class="add_textarea" onfocus="" onblur=""></textarea>
				</div>
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>发布人：</label>
					<select name="admin" class="add_input">
						<option value=""></option>
					</select>
				</div>
				</div>
				<input type="submit" value="修改" class="add_submit" />
			</form>
		</div>
	</div>
	<!--main结束-->
	
	</body>
</html>
