<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="shortcut icon" href="../../static/images/shu.ico" />
	<link rel="stylesheet" href="../../static/css/back/user.css" />
	<link rel="stylesheet" href="../../static/css/back/common.css" />
	<link rel="stylesheet" href="../../static/css/back/add.css" />	
</head>
<body>
	<div class="head">
		<div class="headL">
			<img class="headLogo" src="../../static/images/admin_logo.png"/>
		</div>
		<div class="headR">
			<span style="margin-bottom: 8px;display: inline-block;">
				<!-- 日历 -->
				
			</span>
			<br />
			<div class="head_op">
				<a href="" rel="external">【安全退出】</a>
				<a href="?" target="_blank">【回到前台】</a>
			</div>
		</div>
	</div>
</body>
</html>