<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街后台管理首页</title>
		<link rel="shortcut icon" href="../../static/images/shu.ico" />
		<link rel="stylesheet" href="../../static/css/back/index.css" />
		<link rel="stylesheet" href="../../static/css/back/common.css" />
		<link rel="stylesheet" href="../../static/font/css/font-awesome.min.css" />
		
		<script type="text/javascript" src="../../static/js/back/jquery.min.js"></script>
		<script type="text/javascript" src="../../static/js/back/public.js"></script>
	</head>
	<body>
		
	<!-- 头部 -->
	<iframe src="./head.html" width="100%" height="92px"></iframe>
	<!-- 左边节点 -->
	<iframe src="./container.html" style="float: left;width: 220px;height: 280px"frameborder="0"></iframe>
	<!--左边结点结束-->
	
	<!--main开始-->
	<table width="99%" border="0" cellspacing="0" cellpadding="0" id="main">
	  	<tr>
			<td colspan="2">
			    <span class="time">
			    	<strong>你好！xx管理员</strong><u> [淘书街管理员]</u>
			    	<a href="" class="addAdmin"><i class="fa fa-plus-circle"></i> 添加新管理员</a>
			    </span>
				    <div class="top">
				    	<span class="left">您上次的登录时间：2018年12月18日19:40 &nbsp;&nbsp;&nbsp;&nbsp;如非您本人操作，请及时</span>
				    	<a href="" style="color: #538ec6;">更改密码</a>
				    </div>
				    <div class="sec">这是您第<span class="num">8</span>次登录！</div>
			</td>
		</tr>
		<tr>
		    <td align="left" valign="top" colspan="2">
			    <div class="main-tit">服务器信息</div>
			    <div class="main-con">
					服务器软件：Apache/2.2.22 (Win32) PHP/5.4.45<br/>
					PHP版本：5.4.45<br/>
					MYSQL版本： 5.5.27, for Win32 (x86)<br/>
			    </div>
		    </td>
	 	</tr>
		<tr>
		    <td colspan="2" align="left" valign="top">
			    <div class="main-corpy">系统提示</div>
			    <div class="main-order">1=>欢迎来到淘书街后台管理系统<br/>
					2=>强烈建议您将IE7以上版本或其他的浏览器
				</div>
			</td>
		</tr>
	</table>
	<!--main结束-->
	
	</body>
</html>
