<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街后台管理首页</title>
		<link rel="shortcut icon" href="../../static/images/shu.ico" />
		<link rel="stylesheet" href="../../static/css/back/user.css" />
		<link rel="stylesheet" href="../../static/css/back/common.css" />
		<link rel="stylesheet" href="../../static/css/back/add.css" />
		
		<script type="text/javascript" src="../../static/js/back/jquery.min.js"></script>
		<script type="text/javascript" src="../../static/js/back/public.js"></script>
		<script type="text/javascript" src="../../static/js/back/updateUserPwd.js"></script>
	</head>
	<body>
				
	<!-- 头部 -->
	<iframe src="./head.html" width="100%" height="92px"></iframe>
	<!-- 左边节点 -->
	<iframe src="./container.html" style="float: left;width: 220px;height: 280px"frameborder="0"></iframe>
	<!--左边结点结束-->

	<!--main开始-->
	<div id="MainForm">
		<div class="form_boxA">
			<div class="a">
				<h2>淘书街- 管理员小黄 修改登录密码</h2>
			</div>
			<form action="" method="post" class="add_form" onsubmit="">
				<input type="hidden" name="id" value="" />
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>新密码：</label>
					<input type="password" name="pwd" class="add_input" placeholder="字母数字组合，6-16位字符" onfocus="" onblur=""
					 />
				</div>
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>确认密码：</label>
					<input type="password" name="repwd" class="add_input" onfocus="" onblur="" />
				</div>
				<input type="submit" value="修改" class="add_submit" />
			</form>
		</div>
	</div>
	<!--main结束-->
	
	</body>
</html>
