<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街会员管理</title>
		<link rel="shortcut icon" href="../../static/images/shu.ico" />
		<link rel="stylesheet" href="../../static/css/back/user.css" />
		<link rel="stylesheet" href="../../static/css/back/common.css" />
		<link rel="stylesheet" href="../../static/css/back/page.css" />
		<link rel="stylesheet" href="../../static/font/css/font-awesome.min.css" />
		
		<script type="text/javascript" src="../../static/js/back/jquery.min.js"></script>
		<script type="text/javascript" src="../../static/js/back/public.js"></script>
		<script type="text/javascript" src="../../static/js/back/search.js"></script>
		<script type="text/javascript" src="../../static/js/back/CheckBox.js"></script>
	</head>
	<body>
				
	<!-- 头部 -->
	<iframe src="./head.html" width="100%" height="92px"></iframe>
	<!-- 左边节点 -->
	<iframe src="./container.html" style="float: left;width: 220px;height: 280px"frameborder="0"></iframe>
	<!--左边结点结束-->
	
	<!--用户列表开始-->
	<div id="MainForm">
		<div class="form_boxA">
			<div class="a">
				<h2>淘书街会员列表</h2>
				<form action="" method="post" onsubmit="" class="searchform">
					<input type="text" class="search" placeholder="用户名" name="search" />
					<input type="submit" class="search_button" value="搜索" />
				</form>
				<a href="" class="addUser"><i class="fa fa-plus-circle"></i> 添加新用户</a>
			</div>
			<form action="" method="post">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<th><input type="checkbox" name="fullChoose" onclick="" /></th>
					<th>ID</th>
					<th>用户名</th>
					<th>真实姓名</th>
					<th>性别</th>
					<th>手机</th>
					<th>地址</th>
					<th>年级</th>
					<th>专业</th>
					<th>登陆次数</th>
					<th>操作</th>
				</tr>
				<tr>
					<td><input type="checkbox" name="ids[]" onclick="" class="eachChoose" value=""/></td>
					<td>1</td>
					<td>
						<img src="../../static/images/17-1.jpg" class="user_img"/>
						小猪猪
					</td>
					<td>猪爸爸</td>
					<td>男</td>
					<td>12345678901</td>
					<td>东莞理工学院松山湖校区</td>
					<td>2015</td>
					<td>计算机科学与技术</td>
					<td>3</td>
					<td>
						<a href="" class="op"><i class="fa fa-edit" title="编辑"></i></a> 
						<a href="" class="op"><i class="fa fa-key" title="修改密码"></i></a> 
						<a href="" class="op" onclick="">
							<i class="fa fa-trash-o" title="删除"></i>
						</a> 
					</td>
				</tr>
				<tr>
					<td><input type="checkbox" name="ids[]" onclick="" class="eachChoose" value=""/></td>
					<td>2</td>
					<td>
						<img src="../../static/images/timg.jpg" class="user_img"/>
						小黄
					</td>
					<td>黄妈妈</td>
					<td>女</td>
					<td>11111111111</td>
					<td>东莞理工学院松山湖校区</td>
					<td>2015</td>
					<td>计算机科学与技术</td>
					<td>5</td>
					<td>
						<a href="" class="op"><i class="fa fa-edit" title="编辑"></i></a> 
						<a href="" class="op"><i class="fa fa-key" title="修改密码"></i></a> 
						<a href="" class="op" onclick="">
							<i class="fa fa-trash-o" title="删除"></i>
						</a> 
					</td>
				</tr>
				<tr>
					<td><input type="checkbox" name="ids[]" onclick="" class="eachChoose" value=""/></td>
					<td>3</td>
					<td>
						<img src="../../static/images/17-1.jpg" class="user_img"/>
						小猪猪
					</td>
					<td>猪爸爸</td>
					<td>男</td>
					<td>12345678901</td>
					<td>东莞理工学院松山湖校区</td>
					<td>2015</td>
					<td>计算机科学与技术</td>
					<td>3</td>
					<td>
						<a href="" class="op"><i class="fa fa-edit" title="编辑"></i></a> 
						<a href="" class="op"><i class="fa fa-key" title="修改密码"></i></a> 
						<a href="" class="op" onclick="">
							<i class="fa fa-trash-o" title="删除"></i>
						</a> 
					</td>
				</tr>
				<tr>
					<td><input type="checkbox" name="ids[]" onclick="" class="eachChoose" value=""/></td>
					<td>1</td>
					<td>
						<img src="../../static/images/17-1.jpg" class="user_img"/>
						小猪猪
					</td>
					<td>猪爸爸</td>
					<td>男</td>
					<td>12345678901</td>
					<td>东莞理工学院松山湖校区</td>
					<td>2015</td>
					<td>计算机科学与技术</td>
					<td>3</td>
					<td>
						<a href="" class="op"><i class="fa fa-edit" title="编辑"></i></a> 
						<a href="" class="op"><i class="fa fa-key" title="修改密码"></i></a> 
						<a href="" class="op" onclick="return del()">
							<i class="fa fa-trash-o" title="删除"></i>
						</a> 
					</td>
				</tr>
				
			</table>
			<p class="msg">
				<span id="notdisplay" style="display: none;"></span>
				<input type="submit" value="删除选中" class="delBtn" id="delBtn" disabled="disabled" onclick='return '/>
				共找到 3 条会员信息，每页显示15条记录
			</p>
			<div class="page">
				
			</div>
			</form>
		</div>
	</div>
	<!--用户列表结束-->
	
	</body>
</html>


<script>
	var user = document.getElementById("user");
	user.getElementsByClassName("icon1")[0].style.display = "block";
	user.getElementsByClassName("icon2")[0].style.display = "none";
	user.getElementsByClassName("icon3")[0].style.display = "block";
	user.getElementsByClassName("icon4")[0].style.display = "none";
	user.getElementsByClassName("icon5")[0].style.display = "block";
	user.getElementsByClassName("coin11")[0].style.display = "block";
	user.getElementsByClassName("coin22")[0].style.display = "none";
	user.getElementsByClassName("cks")[0].setAttribute("class", "menu_chioce2");
	user.getElementsByTagName("dd")[0].style.display = "block";
	
	function del(){
		return window.confirm("你确认要删除该用户、包括该用户的所有书籍和订单信息吗？");
	}
	function checkdel(){
		return window.confirm("你确认要删除选中的用户、包括用户的所有书籍和订单信息吗？");
	}
</script>