<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="shortcut icon" href="img/shu.ico" />
	<link rel="stylesheet" href="__CSS__/back/user.css" />
	<link rel="stylesheet" href="__CSS__/back/common.css" />
	<link rel="stylesheet" href="__CSS__/back/add.css" />
	<link rel="stylesheet" href="/static/fontawesome-5.5.0/css/all.css" />
	<link rel="shortcut icon" href="__IMG__/shu.ico" />
	<link rel="stylesheet" href="__CSS__/back/index.css" />
	<link rel="stylesheet" href="__CSS__/back/common.css" />
	<link rel="stylesheet" href="__FONT__/css/font-awesome.min.css" />

	<script type="text/javascript" src="__JS__/back/jquery.min.js"></script>
	<script type="text/javascript" src="__JS__/back/public.js"></script>	
	<style type="text/css">
		.a{
			color:#BDBDBD;
			width: 20px;
			margin-left: -30px;
			margin-right: 20px;
			font-size: 18px;
		}
		.b{
			color:#BDBDBD;
			font-size: 18px;
			margin-left: 70px;
		}
	</style>
</head>
<body>
	<div class="container">
		<div class="leftsidebar_box">
			<a>
				<div class="line">
					<i class="fas fa-home a"></i>&nbsp;&nbsp;首页
				</div>
			</a>
			<!--用户管理开始-->
			<dl class="system_log">
				<dt>
					<i class="fas fa-users  a"></i>
					用户管理
					<i class="fas fa-angle-down   b"></i>
				</dt>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" />
					<img class="coin22" src="__IMG__/coin222.png" />
					<a class="cks" href="">会员管理</a>
					<img class="icon5" src="__IMG__/coin21.png" />
				</dd>
			</dl>
			<!--用户管理结束-->
			<!--书籍管理开始-->
			<dl class="system_log" id="user">
				<dt>
					<i class="fas fa-book-open a"></i>
					书籍管理
					<i class="fas fa-angle-down b"></i>
				</dt>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" />
					<img class="coin22" src="__IMG__/coin222.png" />
					<a class="cks" href="">出售书籍</a>
					<img class="icon5" src="__IMG__/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" />
					<img class="coin22" src="__IMG__/coin222.png" />
					<a class="cks" href="">求购书籍</a>
					<img class="icon5" src="__IMG__/coin21.png" />
				</dd>
			</dl>
			<!--书籍管理结束-->
			<!--留言管理开始-->
			<dl class="system_log">
				<dt>
					<i class="fas fa-comments a"></i>
					 留言管理
					<i class="fas fa-angle-down b"></i>
				</dt>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" />
					<img class="coin22" src="__IMG__/coin222.png" />
					<a href="" class="cks">出售留言</a>
					<img class="icon5" src="__IMG__/coin21.png" />
				</dd>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" />
					<img class="coin22" src="__IMG__/coin222.png" />
					<a href="" class="cks">求购留言</a>
					<img class="icon5" src="__IMG__/coin21.png" />
				</dd>
			</dl>

			<dl class="system_log">
				<dt>
					<i class="fas fa-reply a"></i>
					回复管理
					<i class="fas fa-angle-down b"></i>
				</dt>
				
			</dl>

			<!--留言管理结束-->
			<!--订单管理开始-->
			<dl class="system_log">
				<dt>
					<i class="fas fa-file-invoice-dollar a"></i>
					订单管理
					<i class="fas fa-angle-down b"></i>
				</dt>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" />
					<img class="coin22" src="__IMG__/coin222.png" />
					<a href="" class="cks">订单管理</a>
					<img class="icon5" src="__IMG__/coin21.png" />
				</dd>
			</dl>
			<!--订单管理结束-->
			<dl class="system_log">
				<dt>
					<i class="fas fa-bullhorn a"></i>
					 公告管理
					<i class="fas fa-angle-down b"></i>
					
				</dt>
				<dd>
					<img class="coin11" src="__IMG__/coin111.png" />
					<img class="coin22" src="__IMG__/coin222.png" />
					<a href="" class="cks">公告管理</a>
					<img class="icon5" src="__IMG__/coin21.png" />
				</dd>
			</dl>
			<dl class="system_log">
				<dt>
					<i class="fas fa-file-invoice a"></i>
					日志管理
					<i class="fas fa-angle-down b"></i>
				</dt>
			</dl>
		</div>
	</div>
</body>
</html>