<!-- 头部 -->
<div class="head">
	<div class="headL">
		<img class="headLogo" src="/static/img/admin_logo.png"/>
	</div>
	<div class="headR">
		<span style="margin-bottom: 8px;display: inline-block;">
			<!-- 日历 -->
			<SCRIPT type=text/javascript src="../../../js/back/clock.js"></SCRIPT>
			<SCRIPT type=text/javascript>showcal();</SCRIPT>
        </span>
        <br />
        <div class="head_op">
	    	{eq name="Think.session.admin_id" value=""}
	    	<a href="/admin/login/index" >【登录】</a>
	    	{else}
	    	<span>欢迎你，</span>
	    	<a href="" >【{$Think.session.admin_name}】</a>
	    	<a href="/admin/login/logout" >【安全退出】</a>
	    	{/eq}
			<a href="/index/index/index">【回到前台】</a>
        </div>
	</div>
</div>