<div class="container" style="margin-top:20px; ">
	<div class="leftsidebar_box">
		<a href="/admin/index/index">
			<div class="line">
				<img src="/static/img/coin01.png" />&nbsp;&nbsp;首页
			</div>
		</a>
		<!--用户管理开始-->
		<dl class="system_log">
			<dt>
				<img class="icon1" src="/static/img/coin07.png" />
				<img class="icon2" src="/static/img/coin08.png" /> 用户管理
				<img class="icon3" src="/static/img/coin19.png" />
				<img class="icon4" src="/static/img/coin20.png" />
			</dt>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a class="cks" href="/admin/user/userList">会员管理</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
		</dl>
		<!--用户管理结束-->
		<!--书籍管理开始-->
		<dl class="system_log">
			<dt>
				<img class="icon1" src="/static/img/ico1.png" />
				<img class="icon2" src="/static/img/ico.png" /> 书籍管理
				<img class="icon3" src="/static/img/coin19.png" />
				<img class="icon4" src="/static/img/coin20.png" />
			</dt>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a class="cks" href="/admin/sale/saleBookList">出售书籍</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a class="cks" href="/admin/inquiry/inquiryBookList">求购书籍</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
		</dl>
		<!--书籍管理结束-->
		<!--留言管理开始-->
		<dl class="system_log">
			<dt>
				<img class="icon1" src="/static/img/coin11.png" />
				<img class="icon2" src="/static/img/coin12.png" /> 留言管理
				<img class="icon3" src="/static/img/coin19.png" />
				<img class="icon4" src="/static/img/coin20.png" />
			</dt>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a href="/admin/bcomment/commentList" class="cks">出售留言</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a href="/admin/scomment/commentList" class="cks">求购留言</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
		</dl>
		<!--留言管理结束-->
		<!--回复管理开始-->
		<dl class="system_log">
			<dt>
				<img class="icon1" src="/static/img/coin11.png" />
				<img class="icon2" src="/static/img/coin12.png" /> 回复管理
				<img class="icon3" src="/static/img/coin19.png" />
				<img class="icon4" src="/static/img/coin20.png" />
			</dt>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a href="/admin/breply/replyList" class="cks">留言回复</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
		</dl>
		<!--回复管理结束-->
		<!--订单管理开始-->
		<dl class="system_log">
			<dt>
				<img class="icon1" src="/static/img/coin17.png" />
				<img class="icon2" src="/static/img/coin18.png" /> 订单管理
				<img class="icon3" src="/static/img/coin19.png" />
				<img class="icon4" src="/static/img/coin20.png" />
			</dt>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a href="/admin/reply/replyList" class="cks">订单管理</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
		</dl>
		<!--订单管理结束-->
		<!-- 公告管理开始 -->
		<dl class="system_log">
			<dt>
				<img class="icon1" src="/static/img/notice2.png" />
				<img class="icon2" src="/static/img/notice1.png" /> 公告管理
				<img class="icon3" src="/static/img/coin19.png" />
				<img class="icon4" src="/static/img/coin20.png" />
			</dt>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a href="/admin/notice/noticeList" class="cks">公告管理</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
		</dl>
		<!-- 公告管理结束 -->
		<!-- 日志管理开始 -->
		<dl class="system_log">
			<dt>
				<img class="icon1" src="/static/img/notice2.png" />
				<img class="icon2" src="/static/img/notice1.png" /> 日志管理
				<img class="icon3" src="/static/img/coin19.png" />
				<img class="icon4" src="/static/img/coin20.png" />
			</dt>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a href="/admin/notice/noticeList" class="cks">日志管理</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
		</dl>
		<!-- 日志管理结束 -->
		<!-- 日志管理开始 -->
		<dl class="system_log">
			<dt>
				<img class="icon1" src="/static/img/notice2.png" />
				<img class="icon2" src="/static/img/notice1.png" /> 违规管理
				<img class="icon3" src="/static/img/coin19.png" />
				<img class="icon4" src="/static/img/coin20.png" />
			</dt>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a href="/admin/notice/noticeList" class="cks">违规处理</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
		</dl>
		<!-- 日志管理结束 -->
	</div>
</div>