<div class="container">
	<div class="leftsidebar_box">
		<a href="?p=back&c=admin">
			<div class="line">
				<img src="/static/img/coin01.png" />&nbsp;&nbsp;首页
			</div>
		</a>
		<!--用户管理开始-->
		<dl class="system_log">
			<dt>
				<img class="icon1" src="/static/img/coin07.png" />
				<img class="icon2" src="/static/img/coin08.png" /> 用户管理
				<img class="icon3" src="/static/img/coin19.png" />
				<img class="icon4" src="/static/img/coin20.png" />
			</dt>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a class="cks" href="?p=back&c=user&a=showUser">会员管理</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
		</dl>
		<!--用户管理结束-->
		<!--书籍管理开始-->
		<dl class="system_log">
			<dt>
				<img class="icon1" src="/static/img/ico1.png" />
				<img class="icon2" src="/static/img/ico.png" /> 书籍管理
				<img class="icon3" src="/static/img/coin19.png" />
				<img class="icon4" src="/static/img/coin20.png" />
			</dt>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a class="cks" href="?p=back&c=sale&a=showSale">出售书籍</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a class="cks" href="?p=back&c=inquiry&a=showInquiry">求购书籍</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
		</dl>
		<!--书籍管理结束-->
		<!--留言管理开始-->
		<dl class="system_log">
			<dt>
				<img class="icon1" src="/static/img/coin11.png" />
				<img class="icon2" src="/static/img/coin12.png" /> 留言管理
				<img class="icon3" src="/static/img/coin19.png" />
				<img class="icon4" src="/static/img/coin20.png" />
			</dt>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a href="?p=back&c=bcomment&a=showBComment" class="cks">出售留言</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a href="?p=back&c=scomment&a=showSComment" class="cks">求购留言</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
		</dl>
		<!--留言管理结束-->
		<!--订单管理开始-->
		<dl class="system_log">
			<dt>
				<img class="icon1" src="/static/img/coin17.png" />
				<img class="icon2" src="/static/img/coin18.png" /> 订单管理
				<img class="icon3" src="/static/img/coin19.png" />
				<img class="icon4" src="/static/img/coin20.png" />
			</dt>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a href="?p=back&c=shoporder&a=showOrder" class="cks">订单管理</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
		</dl>
		<!--订单管理结束-->
		<dl class="system_log">
			<dt>
				<img class="icon1" src="/static/img/notice2.png" />
				<img class="icon2" src="/static/img/notice1.png" /> 公告管理
				<img class="icon3" src="/static/img/coin19.png" />
				<img class="icon4" src="/static/img/coin20.png" />
			</dt>
			<dd>
				<img class="coin11" src="/static/img/coin111.png" />
				<img class="coin22" src="/static/img/coin222.png" />
				<a href="?p=back&c=notice&a=showNotice" class="cks">公告管理</a>
				<img class="icon5" src="/static/img/coin21.png" />
			</dd>
		</dl>
	</div>
</div>