<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街：我的购物车</title>
		<link rel="shortcut icon" href="../../../../static/img/shu.ico" />
		<link rel="stylesheet" href="../../../../static/css/front/common_top.css" />
		<link rel="stylesheet" href="../../../../static/css/front/shopCar_no.css" />
	</head>
	<body>
		{include file='../Application/index/view/common/common_header.html'}
		<!--购物车-->
		<div class="shopcar">
			<div class="shopcar_title">我的购物车</div>
			<div class="shopcar_body">
				<div class="icon_box"></div>
				<div class="icon_txt">
					购物车空空的哟~，去看看心仪的书籍吧<br />
					<a href="/index/sale/showAllSaleBook">去购买</a>
				</div>
			</div>
		</div>
		
	{include file='../Application/index/view/common/common_foot.html'}
		
	</body>
	<script type="text/javascript" src="../../../../static/js/front/shopCar.js" ></script>
	<script type="text/javascript" src="../../../../static/js/front/common_top.js" ></script>
</html>
