<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街：个人中心 - 我的求购</title>
		<link rel="stylesheet" href="../../../../static/css/front/personal.css" />
		<link rel="stylesheet" href="../../../../static/css/front/personal_sale.css" />
		<link rel="stylesheet" href="../../../../static/font/css/font-awesome.min.css" />
		<link rel="shortcut icon" href="../../../../static/img/shu.ico" />
	</head>
	<script type="text/javascript" src="../../../../static/js/front/jquery.min.js" ></script>
	<body>
		 {include file="../application/index/view/common/center_top.html"/}
		 {include file="../application/index/view/common/center_leftmenu.html"/}
			
			<!--基本信息-->
			<div class="menu_info" style="display: block;">
				<div class="menu_head" style="margin-bottom: 0px; border: none;">
					<ul>
						<li>我的求购</li>
					</ul>
				</div>
				<!--我的求购-->
				<div class="menu_detail" style="display: block;margin-top: 5px;">
					<div class="sc_right_content">
						<ul>
						{foreach $ret as $value}
							<li>
								<div class="info_div">
									<div class="info_img">
										<a href="?c=inquiry&a=each&id=<?php echo $value['inquiry_id']; ?> " target="_blank">
											<img src="<?php echo $value['inquiry_img']; ?>" title="<?php echo $value['inquiry_name']; ?>" />
										</a>
									</div>
									<div class="info">
										<!--书名-->
										<div class="info_title">
											<a href="?c=inquiry&a=each&id=<?php echo $value['inquiry_id']; ?> " target="_blank">
												<?php echo $value['inquiry_name']; ?>
											</a>
										</div>
										<!--具体信息-->
										<div class="more">
											<?php echo $value['inquiry_author']; ?>
											<span class="xie">/</span>
											<?php echo $value['inquiry_publishing']; ?>
											<span class="xie">/</span>
											<?php echo $value['inquiry_page']; ?>页
											<span class="xie">/</span>
											<?php echo $value['inquiry_degrees']; ?>
											<span class="xie">/</span>
											<?php echo $value['inquiry_num']; ?>本
											<span class="xie">/</span>
											<span class="pre_price">￥<?php echo $value['inquiry_minprice']; ?></span>
											<span class="price">￥<?php echo $value['inquiry_maxprice']; ?></span>
										</div>
										<!--内容详情-->
										<div class="summary">
											<?php echo $value['inquiry_content']; ?>
										</div>
									</div>
									
								</div>
							</li>
							{/foreach}
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		 {include file="../application/index/view/common/common_foot.html"/}
	</body>
	<!--<script type="text/javascript" src="../../../../static/js/front/personal_center.js" ></script>-->
</html>
