<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街修改公告</title>
		<link rel="shortcut icon" href="__IMG__/shu.ico" />
		<link rel="stylesheet" href="__CSS__/back/user.css" />
		<link rel="stylesheet" href="__CSS__/back/common.css" />
		<link rel="stylesheet" href="__CSS__/back/add.css" />
		
		<script type="text/javascript" src="__JS__/back/jquery.min.js"></script>
		<script type="text/javascript" src="__JS__/back/public.js"></script>
		<script type="text/javascript" src="__JS__/back/addNotice.js"></script>
	</head>
	<body>
	<!-- 头部	 -->
	{include file="../application/admin/view/common/header.html"}
	<!-- 头部结束	 -->

	<!-- 左边节点 -->
	{include file="../application/admin/view/common/menu.html"}
	<!--左边结点结束-->
	
	<!--添加用户开始-->
	<div id="MainForm">
		<div class="form_boxA">
			<div class="a">
				<h2>淘书街添加新订单</h2>
			</div>
			<form action="/admin/notice/noticeEdit" method="post" class="add_form" >
				<input type="hidden" name="notice_id" value="{$notice.notice_id}">
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>公告标题：</label>
					<input type="text" name="title" style="width: 276px;" placeholder="标题" class="add_input" onfocus="Title()" onblur="checkTitle()" value="{$notice.notice_title}" />
					<span class="tip" id="tip-title">请输入公告标题</span>
				</div>
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>公告内容：</label>
					<textarea name="content" class="add_textarea" onblur="checkContent()" onfocus="Content()" >{$notice.notice_content}</textarea>
					<span class="tip" id="tip-content">请输入公告内容</span>
				</div>
				<input type="submit" value="提交" class="add_submit" />
			</form>
		</div>
	</div>
	<!--添加用户结束-->
	</body>
</html>

<script>
	var user = document.getElementById("user");
	user.getElementsByClassName("icon1")[0].style.display = "block";
	user.getElementsByClassName("icon2")[0].style.display = "none";
	user.getElementsByClassName("icon3")[0].style.display = "block";
	user.getElementsByClassName("icon4")[0].style.display = "none";
	user.getElementsByClassName("icon5")[0].style.display = "block";
	user.getElementsByClassName("coin11")[0].style.display = "block";
	user.getElementsByClassName("coin22")[0].style.display = "none";
	
//	user.getElementsByTagName("dd")[1].style.display = "block";
	
	user.getElementsByClassName("cks")[0].setAttribute("class", "menu_chioce2");
	user.getElementsByTagName("dd")[0].style.display = "block";
	
	function loadNum(){
		
	}
	
</script>