<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街：添加求购书籍</title>
		<link rel="shortcut icon" href="../../static/images/shu.ico" />
		<link rel="stylesheet" href="../../static/css/front/personal.css" />
		<link rel="stylesheet" href="../../static/css/front/addSaleBook.css" />
		<link rel="stylesheet" href="../../static/font/css/font-awesome.min.css" />
	</head>
	<body>
		<div class="top">
			<div class="logo">
				<div class="img"><a href=""><img src="../../static/images/taoshujie.png" /></a></div>
				<div class="txt"> - 添加求购</div>
				<div class="right">
					<a href="">首页</a> <span class="shu">|</span>
					<a href="">出售</a> <span class="shu">|</span>
					<a href="">求购</a>
				</div>
			</div>
		</div>
		
		<div class="asb_content">
			<form>
				<div class="asb_list">
					<label style="letter-spacing: 0.12em;">ISBN号</label>
					<input type="text" placeholder="请输入10位或13位ISBN码" name="isbn" />
				</div>
				<span class="xing">*</span><span class="alarm"></span>
				<div class="asb_list">
					<label style="letter-spacing: 1.67em;">书名</label>
					<input type="text" placeholder="请输入书名" name="name" />
				</div>
				<span class="xing">*</span><span class="alarm"></span>
				<div class="asb_list">
					<label style="letter-spacing: 1.67em;">作者</label>
					<input type="text" placeholder="多个作者用空格隔开" name="author" />
				</div>
				<span class="xing">*</span><span class="alarm"></span>
				<div class="asb_list">
					<label style="letter-spacing: 0.4em;">出版社</label>
					<input type="text" placeholder="请输入出版社" name="publishing"/>
				</div>
				<span class="xing">*</span><span class="alarm"></span>
				<div class="asb_img">
					<label>封面图片</label>
					<input type="file" name="img" />
				</div>
				<!--<span class="xing">*</span>-->
				<div class="asb_list">
					<label style="letter-spacing: 0.4em;">最低价</label>
					<input type="text" placeholder="请输入大于等于零的数字" name="beprice"/>
				</div>
				<span class="xing">*</span><span class="alarm"></span>
				<div class="asb_list">
					<label style="letter-spacing: 0.4em;">最高价</label>
					<input type="text" placeholder="请输入大于等于零的数字" name="afprice"/>
				</div>
				<span class="xing">*</span><span class="alarm"></span>
				<div class="asb_list">
					<label style="letter-spacing: 1.67em;">数量</label>
					<input type="text" value="1" name="num" placeholder="请输入大于零的数字"/>
				</div>
				<span class="xing">*</span><span class="alarm"></span>
				<div class="asb_list">
					<label style="letter-spacing: 1.67em;">页码</label>
					<input type="text" name="page" placeholder="请输入大于零的数字"/>
				</div>
				<span class="xing">*</span><span class="alarm"></span>
				<div class="asb_list">
					<label>新旧程度</label>
					<select class="degrees" name="degrees">
						<option value="0">---------请选择---------</option>
						<option value="全新">全新</option>
						<option value="九成新">九成新</option>
						<option value="八成新">八成新</option>
						<option value="七成新">七成新</option>
						<option value="六成新及以下">六成新及以下</option>
					</select>
				</div>
				<span class="xing">*</span><span class="alarm"></span>
				<div class="asb_list">
					<label>书籍分类</label>
					<select class="degrees" name="type" >
						<option value="0">---------请选择---------</option>
						<option value=""></option>
					</select>
				</div>
				<span class="xing">*</span><span class="alarm"></span>
				<div class="asb_list aa">
					<label class="bb">内容简介</label>
					<textarea cols="20" rows="2" class="asblist_content" name="content"></textarea>
				</div>
				<div class="asb_list aa aa1">
					<label class="bb">附加信息</label>
					<textarea cols="20" rows="2" class="asblist_content" name="attach" placeholder="限255字" ></textarea>
				</div>
				<input type="submit" class="asb_submit" value="发布" />
			</form>
		</div>
		
		<iframe src="../index/common_foot.html" width="100%" height="122" frameborder="0"></iframe>
	</body>
</html>
