<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街：图书分类大全</title>
		<link rel="shortcut icon" href="../../static/images/shu.ico" />
		<link rel="stylesheet" href="../../static/css/front/classify.css" />
		<link rel="stylesheet" href="../../static/css/front/common_top.css" />
	</head>
	<body>
	<iframe src="../index/head_common.html" width="100%" height="50px" frameborder="0"></iframe>	
		<div class="w">
			<!--头部-->
			<div class="top">
				<div class="logo">
					<a href="?"><img src="../../static/images/taoshujie.png" /></a>
				</div>
				<form>
					<div class="search_div">
						<input type="text" placeholder="出售书籍名称" name="keyword" class="search_a"/>
						<input type="submit" class="search_b" value="搜索"></input>
					</div>
				</form>
			</div>
		</div>
		<!--导航栏-->
		<div class="nav">
			<div class="nav_bar">
				<div class="all_type nav_active">
					全部图书分类
					<span class="all_type_a"></span>
				</div>
				<div class="nav_r">
					<ul>
						<a href=""><li>首页</li></a>
						<a href=""><li class="nav_active">分类</li></a>
						<a href=""><li>出售</li></a>
						<a href=""><li>求购</li></a>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="classify">
			<div class="classify_title">图书分类大全</div>
			<div class="classify_all">
				<ul>
					<li>
						<div class="classify1">经济金融</div><span class="shu shu1">|</span>
						<div class="classify2">
							<a href="" target="_blank"><span class="shu">经济金融</span><span>|</span></a>
							<a href="" target="_blank"><span class="shu">经济金融</span><span>|</span></a>
							<a href="" target="_blank"><span class="shu">经济金融</span><span>|</span></a>
							<a href="" target="_blank"><span class="shu">经济金融</span><span>|</span></a>
							<a href="" target="_blank"><span class="shu">经济金融</span><span>|</span></a>
							<a href="" target="_blank"><span class="shu">经济金融</span><span>|</span></a>
							<a href="" target="_blank"><span class="shu">经济金融</span><span>|</span></a>
							<a href="" target="_blank"><span class="shu">经济金融</span><span>|</span></a>
						</div>
					</li>
					<li>
						<div class="classify1">计算机与网络</div><span class="shu shu1">|</span>
						<div class="classify2">
							<a href="" target="_blank"><span class="shu">计算机与网络</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">计算机与网络</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">计算机与网络</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">计算机与网络</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">计算机与网络</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">计算机与网络</span><span class="shu">|</span></a>
						</div>
					</li>
					<li>
						<div class="classify1">管理</div><span class="shu shu1">|</span>
						<div class="classify2">
							<a href="" target="_blank"><span class="shu">管理</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">管理</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">管理</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">管理</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">管理</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">管理</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">管理</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">管理</span><span class="shu">|</span></a>
						</div>
					</li>
					<li>
						<div class="classify1">语言学习</div><span class="shu shu1">|</span>
						<div class="classify2">
							<a href="" target="_blank"><span class="shu">语言学习</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">语言学习</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">语言学习</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">语言学习</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">语言学习</span><span class="shu">|</span></a>
						</div>
					</li>
					<li>
						<div class="classify1">文学小说</div><span class="shu shu1">|</span>
						<div class="classify2">
							<a href="" target="_blank"><span class="shu">文学小说</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">文学小说</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">文学小说</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">文学小说</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">文学小说</span><span class="shu">|</span></a>
						</div>
					</li>
					<li>
						<div class="classify1">医学卫生</div><span class="shu shu1">|</span>
						<div class="classify2">
							<a href="" target="_blank"><span class="shu">医学卫生</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">医学卫生</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">医学卫生</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">医学卫生</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">医学卫生</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">医学卫生</span><span class="shu">|</span></a>
						</div>
					</li>
					<li>
						<div class="classify1">教育考试</div><span class="shu shu1">|</span>
						<div class="classify2">
							<a href="" target="_blank"><span class="shu">教育考试</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">教育考试</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">教育考试</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">教育考试</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">教育考试</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">教育考试</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">教育考试</span><span class="shu">|</span></a>
						</div>
					</li>
					<li>
						<div class="classify1">自然科学</div><span class="shu shu1">|</span>
						<div class="classify2">
							<a href="" target="_blank"><span class="shu">自然科学</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">自然科学</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">自然科学</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">自然科学</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">自然科学</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">自然科学</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">自然科学</span><span class="shu">|</span></a>
						</div>
					</li>
					<li>
						<div class="classify1">法律</div><span class="shu shu1">|</span>
						<div class="classify2">
							<a href="" target="_blank"><span class="shu">法律</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">法律</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">法律</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">法律</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">法律</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">法律</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">法律</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">法律</span><span class="shu">|</span></a>
						</div>
					</li>
					<li>
						<div class="classify1">体育保健</div><span class="shu shu1">|</span>
						<div class="classify2">
							<a href="" target="_blank"><span class="shu">体育保健</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">体育保健</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">体育保健</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">体育保健</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">体育保健</span><span class="shu">|</span></a>
						</div>
					</li>
					<li>
						<div class="classify1">心理</div><span class="shu shu1">|</span>
						<div class="classify2">
							<a href="" target="_blank"><span class="shu">心理</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">心理</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">心理</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">心理</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">心理</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">心理</span><span class="shu">|</span></a>
						</div>
					</li>
					<li>
						<div class="classify1">新闻传媒</div><span class="shu shu1">|</span>
						<div class="classify2">
							<a href="" target="_blank"><span class="shu">新闻传媒</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">新闻传媒</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">新闻传媒</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">新闻传媒</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">新闻传媒</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">新闻传媒</span><span class="shu">|</span></a>
						</div>
					</li>
					<li>
						<div class="classify1">成功励志</div><span class="shu shu1">|</span>
						<div class="classify2">
							<a href="" target="_blank"><span class="shu">成功励志</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">成功励志</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">成功励志</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">成功励志</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">成功励志</span><span class="shu">|</span></a>
						</div>
					</li>
					<li>
						<div class="classify1">生活时尚</div><span class="shu shu1">|</span>
						<div class="classify2">
							<a href="" target="_blank"><span class="shu">生活时尚</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">生活时尚</span><span class="shu">|</span></a>
							v<a href="" target="_blank"><span class="shu">生活时尚</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">生活时尚</span><span class="shu">|</span></a>
							<a href="" target="_blank"><span class="shu">生活时尚</span><span class="shu">|</span></a>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<iframe src="../index/common_foot.html" width="100%" height="122" frameborder="0"></iframe>
	</body>
</html>
