<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>【11】：淘书街</title>
		<link rel="stylesheet" href="../../static/css/front/classify_detail.css" />
		<link rel="stylesheet" href="../../static/css/front/common_top.css" />
		<link rel="stylesheet" href="../../static/css/front/page.css" />
		<link rel="stylesheet" href="../../static/font/css/font-awesome.min.css" />
		<link rel="shortcut icon" href="../../static/images/shu.ico" />
	</head>
	<body>
		<iframe src="../index/head_common.html" width="100%" height="50px" frameborder="0"></iframe>
		<div class="w">
			<!--头部-->
			<div class="top">
				<div class="logo">
					<a href="?"><img src="../../static/images/taoshujie.png" /></a>
				</div>
				<form>
					<div class="search_div">
						<input type="text" placeholder="出售书籍名称" name="keyword" class="search_a"/>
						<input type="submit" class="search_b" value="搜索"></input>
					</div>
				</form>
			</div>
		</div>
		<!--导航栏-->
		<div class="nav">
			<div class="nav_bar">
				<div class="all_type nav_active">
					全部图书分类
					<span class="all_type_a"></span>
				</div>
				<div class="nav_r">
					<ul>
						<a href="?"><li>首页</li></a>
						<a href=""><li>分类</li></a>
						<a href=""><li class="nav_active">出售</li></a>
						<a href=""><li>求购</li></a>
					</ul>
				</div>
			</div>
		</div>

		<!--详细部分-->
		<div class="classify_detail">
			<div class="detail_left">
				<div class="detail_head">
					<i class="fa fa-circle-o"></i>
				</div>
				<div class="detail_body">
					<ul>
						<li><a href=""></a></li>
					</ul>
				</div>
			</div>
			
			<div class="detail_right">
				<div class="right_head">
					<span class="head"></span>
					<span class="number">共有图书 12 册</span>
				</div>
				<div class="right_body">
					<ul>
						<li>
							<div class="right_img">
								<a href="" target="_blank">
									<img src="../../static/images/2-1.jpg" title="" />
								</a>
							</div>
							<div class="info">
								<!--书名-->
								<div class="title">
									<a href="" target="_blank">
									</a>
								</div>
								<!--具体信息-->
								<div class="more">
									<span class="xie">/</span>
									<span class="xie">/</span>
									页
									<span class="xie">/</span>
									<span class="xie">/</span>本
									<span class="xie">/</span>
									<span class="pre_price">￥35</span>
									<span class="price">￥15</span>
								</div>
								<!--内容详情-->
								<div class="summary">
								</div>
								<!--发布者-->
								<div class="owner">
									<span class="username">Zerry</span>
									<span class="dept"></span>
									<span class="class">(2015级)</span>
								</div>
							<div class="operation">
								<a href=""><div class="collect">加入购物车</div></a>
								<a href=""><div class="buy">购买</div></a>
							</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page">
	
		</div>		
		<iframe src="../index/common_foot.html" width="100%" height="122" frameborder="0"></iframe>
	</body>
</html>
