<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="../../static/css/front/common_top.css" />
</head>
<body>
<div class="q" id="q">
			<div class="top_content">
				<div class="welcome_txt">					
					你好，欢迎来到淘书街！
				</div>
				<div class="right">
					请 <a href='' target="_blank">登录</a> 
					<a href='' style='color: #00CFBE; padding-left: 4px;' target="_blank">免费注册</a>
					<span class='shu'>|</span>
					<a href='' target="_blank">购物车</a> <span class='shu'>|</span>
					<a href='' target="_blank">我要出售</a> <span class='shu'>|</span>
					<a href='' target="_blank">我要求购</a> <span class='shu'>|</span>
					<a href='' target="_blank">进入后台</a>
				</div>
			</div>
		</div>
</body>
</html>