<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>欢迎来到淘书街</title>
		<link rel="shortcut icon" href="../../static/images/shu.ico" />
		<link rel="stylesheet" href="../../static/css/front/index.css" />
		<link rel="stylesheet" href="../../static/css/front/common_top.css" />
		<link rel="stylesheet" href="../../static/font/css/font-awesome.min.css" />
	</head>
	<body>	
	<iframe src="../index/head_common.html" width="100%" height="50px" frameborder="0"></iframe>	
		<div class="w">
			<!--头部-->
			<div class="top">
				<div class="logo">
					<a href=""><img src="../../static/images/taoshujie.png" /></a>
				</div>
				<form action="" method="post" class="search" onsubmit="return checkSearch();">
					<div class="search_div">
						<input type="text" placeholder="出售书籍名称" name="keyword" class="search_a"/>
						<input type="submit" class="search_b" value="搜索"></input>
					</div>
				</form>
			</div>
		</div>
		<!--导航栏-->
		<div class="nav">
			<div class="nav_bar">
				<div class="all_type nav_active">
					全部图书分类
					<span class="all_type_a"></span>
				</div>
				<div class="nav_r">
					<ul>
						<a href=""><li class="nav_active">首页</li></a>
						<a href=""><li>分类</li></a>
						<a href=""><li>出售</li></a>
						<a href=""><li>求购</li></a>
					</ul>
				</div>
			</div>
		</div>

		<!--中间部分-->
		<div class="content">
			<!--左边框-->
			<div class="content_a">
				<!--详细分类-->
				<div class="content_a_up">
					<ul>
						<li class="type_li">
							<div class="max_type_title">
								<span>经济金融</span><i class=" fa fa-angle-right"></i>
							</div>
							<div class="min_type">
								
								<a href="" target="_blank"></a>
								
							</div>
						</li>
						<li class="type_li">
							<div class="max_type_title">
								<span>计算机与网络</span><i class=" fa fa-angle-right"></i>
							</div>
							<div class="min_type">	
								<a href="" target="_blank"></a>							
							</div>
						</li>
						<li class="type_li">
							<div class="max_type_title">
								<span>管理</span><i class=" fa fa-angle-right"></i>
							</div>
							<div class="min_type">
								<a href="" target="_blank"></a>								
							</div>
						</li>
						<li class="type_li">
							<div class="max_type_title">
								<span>语言学习</span><i class=" fa fa-angle-right"></i>
							</div>
							<div class="min_type">						
								<a href="" target="_blank"></a>
							</div>
						</li>
						<li class="type_li">
							<div class="max_type_title">
								<span>文学小说</span><i class=" fa fa-angle-right"></i>
							</div>
							<div class="min_type">
								<a href="" target="_blank"></a>
							</div>
						</li>
						<li class="type_li">
							<div class="max_type_title">
								<span>医学卫生</span><i class=" fa fa-angle-right"></i>
							</div>
							<div class="min_type">
								<a href="" target="_blank"></a>
							</div>
						</li>
						<li class="type_li">
							<div class="max_type_title">
								<span>教育考试</span><i class=" fa fa-angle-right"></i>
							</div>
							<div class="min_type">
								<a href="" target="_blank"></a>
							</div>
						</li>
						<div class="type_div" style="top: 0px;">
							<div class="title">经济金融</div>
							<div class="detail_div">
								<a href="" target="_blank" class="detail">
								</a>
							</div>
						</div>
						<div class="type_div" style="top: 104px;">
							<div class="title">计算机与网络</div>
							<div class="detail_div">
								<a href="" target="_blank" class="detail">
								</a>
							</div>
						</div>
						<div class="type_div" style="top: 208px;">
							<div class="title">管理</div>
							<div class="detail_div">
								<a href="" target="_blank" class="detail">
								</a>
							</div>
						</div>
						<div class="type_div" style="top: 312px;">
							<div class="title">语言学习</div>
							<div class="detail_div">
								<a href="" target="_blank" class="detail">
								</a>
							</div>
						</div>
						<div class="type_div" style="top: 416px;">
							<div class="title">文学小说</div>
							<div class="detail_div">
								<a href="" target="_blank" class="detail">
								</a>
							</div>
						</div>
						<div class="type_div" style="top: 520px;">
							<div class="title">医学卫生</div>
							<div class="detail_div">
								<a href="" target="_blank" class="detail">
								</a>
							</div>
						</div>
						<div class="type_div" style="top: 624px;">
							<div class="title">教育考试</div>
							<div class="detail_div">
								<a href="" target="_blank" class="detail">
								</a>
							</div>
						</div>
					</ul>
					<div class="type_more">
						<a href="">浏览所有图书分类</a><i class=" fa fa-angle-right"></i>
					</div>
					
				</div>
				<!--详细分类结束-->
				<!--最新书籍开始-->
				<div class="content_a_down">
					<div class="content_a_down_title">最新书籍</div>
					<ul class="newbook_ul">
						<li class="newbook_li">
							<a href="" target="_blank">
							计算机操作系统
							</a>
						</li>
						<li class="newbook_li">
							<a href="" target="_blank">
							计算机网络
							</a>
						</li>
						<li class="newbook_li">
							<a href="" target="_blank">
							计算机组成原理
							</a>
						</li>
						<li class="newbook_li">
							<a href="" target="_blank">
							云计算
							</a>
						</li>
					</ul>
				</div>
				<!--最新书籍结束-->
			</div>
			<!--左边框结束-->
			
			<!--轮播图-->
			<div class="content_b" style="width: 660px;height: 440px; overflow: hidden;" id="lunbo_img">
				<img src="../../static/images/img1.jpg" style="width: 660px;" />
				<img src="../../static/images/img2.jpg" style="width: 660px;" />
				<span id="left"></span>
				<span id="right"></span>
			</div>
			
			<!--登录/公告-->
			<div class="content_c">
				<!-- <div id="a">
					<div class="personal">
						<div class="p_img"><img src="../images/default.jpg" /></div>
						<div class="welcome">Hello~<br>欢迎来到淘书街</div>
						<div class="p_c">
							<a href=''>登录</a>
							<a href=''>注册</a>
						</div>
					</div>
				</div> -->
				<div id="a1">
					<div class="personal">
						<div class="p_img"><img src="../../static/images/timg.jpg" /></div>
						<div class="welcome">~<br>欢迎来到淘书街</div>
						<div class="p_c">
							<a href="">个人中心</a>
							<a href="">退出登录</a>
						</div>
					</div>
				</div>
				<div class="gonggao">
					<div class="gonggao_title">公告</div>
					<div class="gonggao_detail">
						<ul>
							<li><a href="" target="_blank">公告公告</a></li>
							<li><a href="" target="_blank">公告公告</a></li>
							<li><a href="" target="_blank">公告公告</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!--登录/公告结束-->
			
			<!--出售书籍-->
			<div class="content_d">
				<div class="c_d_title">
					<span>出售书籍</span>
				</div>
				<div class="c_d">
					<ul>
						<li class="c_d_detail">
							<a href="" target="_blank">
								<img src="../../static/images/2-1.jpg" title="" />
							</a>
							<div class="c_d_detail_txt">
								<div class="book_name">
									<a href="" target="_blank">
									</a>
								</div>
								<div class="book_publishing"></div>
								<div class="book_price">
									<span class="now_price">￥15</span>
									<span class="pre_price">￥38</span>
								</div>
							</div>
						</li>
						<li class="c_d_detail">
							<a href="" target="_blank">
								<img src="../../static/images/2-1.jpg" title="" />
							</a>
							<div class="c_d_detail_txt">
								<div class="book_name">
									<a href="" target="_blank">
									</a>
								</div>
								<div class="book_publishing"></div>
								<div class="book_price">
									<span class="now_price">￥15</span>
									<span class="pre_price">￥38</span>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<!--出售书籍结束-->
			
			<!--求购书籍-->
			<div class="content_d">
				<div class="c_d_title">
					<span>求购书籍</span>
				</div>
				<div class="c_d">
					<ul>
						<li class="c_d_detail">
							<a href="" target="_blank">
								<img src="../../static/images/3-1.jpg" alt="" />
							</a>
								<div class="c_d_detail_txt">
									<div class="book_name">
										<a href="" target="_blank">
										</a>
									</div>
									<div class="book_publishing"></div>
									<div class="book_price">
										<span class="now_price">￥10 ~ ￥20</span>
										<span class="pre_price"></span>
									</div>
								</div>
							<!--</a>-->
						</li>
					</ul>
				</div>
			</div>
			<!--求购书籍结束-->
		</div>
		<iframe src="../index/common_foot.html" width="100%" height="122" frameborder="0"></iframe>
	</body>
</html>
