<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街：个人中心</title>
		<link rel="shortcut icon" href="../../static/images/shu.ico" />
		<link rel="stylesheet" href="../../static/css/front/personal.css" />
		<link rel="stylesheet" href="../../static/css/front/personal_salecenter.css" />
	</head>
	<body>
		<div class="top">
			<div class="logo">
				<div class="img"><a href="?"><img src="../../static/images/taoshujie.png" /></a></div>
				<div class="txt">
					-个人中心</div>
				<div class="right">
					<a href="">首页</a> <span class="shu">|</span>
					<a href="">出售</a> <span class="shu">|</span>
					<a href="">求购</a>
				</div>
			</div>
		</div>
		<div class="sale_center">
			<div class="sc_left">
				<div class="sc_img"><img src="../../static/images/timg.jpg" /></div>
				<div class="sc_msg">
					<div>2015</div>
					<div>级 </div>
					<div>计科</div>
					<div>Zerry</div>
				</div>
			</div>
			<div class="sc_right">
				<div class="sc_right_head">
					<span id="active">出售书籍</span>
					<span>求购书籍</span>
				</div>
				<div class="sc_right_content">
					<ul>
						<li>
							<div class="info_div">
								<div class="info_img">
									<a href="" target="_blank">
										<img src="../../static/images/2-1.jpg" title="" />
									</a>
								</div>
								<div class="info">
									<!--书名-->
									<div class="info_title">
										<a href="" target="_blank">
										</a>
									</div>
									<!--具体信息-->
									<div class="more">
										<span class="xie">/</span>
										<span class="xie">/169</span>页
										<span class="xie">/</span>
										<span class="xie">/20</span>本
										<span class="xie">/</span>
										<span class="pre_price">￥45</span>
										<span class="price">￥15</span>
									</div>
									<!--内容详情-->
									<div class="summary">
									</div>
								</div>
								
								<!--收藏购买按钮-->
								<div class="operation" id="o">
									<a href=""><div class="collect">加入购物车</div></a>
									<a href=""><div class="buy">购买</div></a>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="sc_right_content" style="display: none;">
					<ul>
						<li>
							<div class="info_div">
								<div class="info_img">
									<a href="" target="_blank">
										<img src="../../static/images/2-1.jpg" title="" />
									</a>
								</div>
								<div class="info">
									<!--书名-->
									<div class="info_title">
										<a href="" target="_blank">
										</a>
									</div>
									<!--具体信息-->
									<div class="more">
										<span class="xie">/</span>
										<span class="xie">/</span>112页
										<span class="xie">/</span>
										<span class="xie">/</span>
										12本
										<span class="xie">/</span>
										<span class="pre_price">￥45</span>
										<span class="price">￥15<</span>
									</div>
									<!--内容详情-->
									<div class="summary">
									</div>
								</div>
								
								<!--收藏购买按钮-->
								<!--<div class="operation" id="o">
									<a href="?c=shopcar&a=addShopCar&id=<?php echo $value['sale_id']; ?>"><div class="collect">加入购物车</div></a>
									<a href="#"><div class="buy">购买</div></a>
								</div>-->
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		<iframe src="../index/common_foot.html" width="100%" height="122" frameborder="0"></iframe>
	</body>
</html>
