 <!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="shortcut icon" href="../../static/images/shu.ico" />
		<link rel="stylesheet" href="../../static/css/front/sale_detail.css" />
		<link rel="stylesheet" href="../../static/css/front/common_top.css" />
	</head>
	<body>
		<iframe src="../index/head_common.html" width="100%" height="50px" frameborder="0"></iframe>
		<div class="w">
			<!--头部-->
			<div class="top">
				<div class="logo">
					<a href="?"><img src="../../static/images/taoshujie.png" /></a>
				</div>
				<form>
					<div class="search_div">
						<input type="text" placeholder="出售书籍名称" name="keyword" class="search_a"/>
						<input type="submit" class="search_b" value="搜索"></input>
					</div>
				</form>
			</div>
		</div>
		<!--导航栏-->
		<div class="nav">
			<div class="nav_bar">
				<div class="all_type nav_active">
					全部图书分类
					<span class="all_type_a"></span>
				</div>
				<div class="nav_r">
					<ul>
						<a href="?"><li>首页</li></a>
						<a href=""><li>分类</li></a>
						<a href=""><li class="nav_active">出售</li></a>
						<a href=""><li>求购</li></a>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="w">
			<div class="location">
				你现在的位置：
				<a href="">全部图书分类</a>
				<span>></span>
				<span>></span>
				<a href=""></a>
			</div>
		</div>
		<div class="book_info">
			<div class="imgdiv">
				<!--<span></span>-->
				<img src="../../static/images/2-1.jpg" />
			</div>
			<!--基本信息-->
			<div class="info">
				<div class="title"></div>
				<div class="detail_info">
					<div class="info_left">
						<dd>ISBN：<span></span></dd>
						<dd>库存：<span></span></dd>
						<dd>作者：<span></span></dd>
						<dd>出版社：<span> </span></dd>
					</div>
					<div class="info_right">
						<dd>页数：<span>128</span></dd>
						<dd>新旧程度：<span>八成新</span></dd>
						<dd>出售者：<span>Zerry</span></dd>
					</div>
				</div>
			</div>
			<!--价钱-->
			<div class="info2">
				<div class="price">
					现价：<span>￥15</span>
				</div>
				<div class="pre_price">
					原价：<span>￥45</span>
				</div>
			</div>
			<!--加购收藏按钮-->
			<div class="operation" id="o">
				<a href=""><div class="collect">加入购物车</div></a>
				<a href=""><div class="buy">购买</div></a>
			</div>
		</div>
		<!--详细内容-->
		<div class="content_info">
			<div class="content_title">
				<span>内容简介</span>
			</div>
			<div class="content">
			</div>
		</div>
		
		<div class="content_info">
			<div class="content_title">
				<span>书籍留言</span>
			</div>
			<div class="content">
				<div class="bcomment">
					<form>
						<textarea cols="101" rows="7" name="content"></textarea>
						<!--<input type="hidden" value="<?php echo $_SESSION['userid']; ?>" name="user_id"/>-->
						<input type="hidden" value="" name="book_id" />
						<input type="submit" value="发表留言" />
						<span>(限255字)</span>
					</form>
				</div>
				<div class="bc_detail">
					<ul>
						<li>
							<div class="bcUser">
								<a href="" target="_blank">
									<img src="../../static/images/timg.jpg" />
								</a>
								<div class="name_txt">
									<a href="" target="_blank">
										<!--<?php echo $value['user_realname']; ?>-->
									</a>
								</div>
							</div>
							<div class="bc_content">
								<div class="bc_time"></div>
							</div>
						</li>	
					</ul>
				</div>
			</div>
		</div>
		<iframe src="../index/common_foot.html" width="100%" height="122" frameborder="0"></iframe>
	</body>
</html>
