<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街-检索：</title>
		<link rel="shortcut icon" href="../../static/images/shu.ico" />
		<link rel="stylesheet" href="../../static/css/front/common_top.css" />
		<link rel="stylesheet" href="../../static/css/front/search_no.css" />
	</head>
	<body>
	<iframe src="../index/head_common.html" width="100%" height="50px" frameborder="0"></iframe>
		<div class="w">
			<!--头部-->
			<div class="top">
				<div class="logo">
					<a href="?"><img src="../../static/images/taoshujie.png" /></a>
				</div>
				<form>
					<div class="search_div">
						<input type="text" placeholder="出售书籍名称" name="keyword" class="search_a"/>
						<input type="submit" class="search_b" value="搜索"></input>
					</div>
				</form>
			</div>
		</div>
		<!--导航栏-->
		<div class="nav">
			<div class="nav_bar">
				<div class="all_type nav_active">
					全部图书分类<span class="all_type_a"></span>
				</div>
				<div class="nav_r">
					<ul>
						<a href=""><li>首页</li></a>
						<a href=""><li>分类</li></a>
						<a href="" class="nav_active"><li>出售</li></a>
						<a href=""><li>求购</li></a>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="search_content">
			<div class="search_title">关键字：</div>
			<div class="search_no">
				<div class="no_up">
					<span class="icon_box"></span>
					<span>抱歉，没有找到与 <span class="txt">XXX</span> 相关的商品</span>
				</div>
				<div class="no_down">
					<div class="tip_txt">
						<span>建议你：</span><br />
						<span>1、查看输入的文字是否有误</span><br />
						<span>2、修改或减少关键字，用空格隔开，不要带标点符号，不要使用繁体字 </span><br />
					</div>
				</div>
			</div>
		</div>
		
		<iframe src="../index/common_foot.html" width="100%" height="122" frameborder="0"></iframe>		
	</body>
</html>
