<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街：我的购物车</title>
		<link rel="shortcut icon" href="../../static/images/shu.ico" />
		<link rel="stylesheet" href="../../static/css/front/common_top.css" />
		<link rel="stylesheet" href="../../static/css/front/shopCar.css" />
		<link rel="stylesheet" href="../../static/font/css/font-awesome.min.css" />
	</head>
	<body>
	<iframe src="../index/head_common.html" width="100%" height="50px" frameborder="0"></iframe>
		<div class="w">
			<!--头部-->
			<div class="top">
				<div class="logo">
					<a href=""><img src="../../static/images/taoshujie.png" /></a>
				</div>
				<form action="" method="post" class="search" onsubmit="return checkSearch();">
					<div class="search_div">
						<input type="text" placeholder="出售书籍名称" name="keyword" class="search_a"/>
						<input type="submit" class="search_b" value="搜索"></input>
					</div>
				</form>
			</div>
		</div>
		<!--导航栏-->
		<div class="nav">
			<div class="nav_bar">
				<div class="all_type nav_active">
					全部图书分类<span class="all_type_a"></span>
				</div>
				<div class="nav_r">
					<ul>
						<a href=""><li>首页</li></a>
						<a href=""><li>分类</li></a>
						<a href=""><li>出售</li></a>
						<a href=""><li>求购</li></a>
					</ul>
				</div>
			</div>
		</div>
		
		<!--购物车-->
		<div class="shopcar">
			<div class="shopcar_title">我的购物车</div>
			<div class="shopcar_body">
				<form>
				<table cellspacing="0">
					<thead>
						<th class="col1"><input type="checkbox" name="fullChoose" onclick="fullChecked(this)"></th>
						<th class="col2">书名</th>
						<th class="col3">卖家</th>
						<th class="col4">原价</th>
						<th class="col5">售价</th>
						<th class="col6">库存量</th>
						<th class="col7">购买数量</th>
						<th class="col8">小计</th>
						<th class="col9">操作</th>
					</thead>
					<tbody>
						<tr>
							<td class="col1"><input type="checkbox" name="ids[]" class="eachChoose" value="" onclick="eachChecked();"></td>
							<td class="col2" id="td2">
								<a href=""><img src="../../static/images/2-1.jpg" /></a>
								<a href="" class="sale_name"></a>
							</td>
							<td class="col3">
								<a href="" target="_blank">
								</a>
							</td>
							<td class="col4">￥15</td>
							<td class="col5">￥<span>15</span></td>
							<td class="col6">11</td>
							<td class="col7">
								<a href="" class="op">-</a>
								<span></span>
								<a href="" class="op">+</a>
							</td>
							<td class="col8">￥<span>15</span></td>
							<td class="col9"><a href="" class="del">
								<i class="fa fa-trash"></i>
							</a></td>
						</tr>
					</tbody>
				</table>
				<div class="count">
				 	<input type="submit" name="Submit" class="deleteChecked" value="删除选中" id="delBtn" disabled="disabled" onclick='return queren();'></input>
				 	<span class="countnum">已选书籍 <span class="num">0</span> 本</span>
				 	<span class="countmoney">合计(不含运费) : <span class="money">￥0</span> </span>
				 	<input type="submit" name="Submit" id="sumBtn" class="sum" value="结 算" disabled="disabled"></input>
				</div>
				</form>
			</div>
		</div>
		
		<iframe src="../index/common_foot.html" width="100%" height="122" frameborder="0"></iframe>
		
	</body>
</html>