<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>OPPOR11_前后2000万拍照更清晰_OPPO手机官方社区</title>
	<link rel="stylesheet" type="text/css" href="/static/css/css.css">


</head>
<body class="topic activity dynamic post">
	
	{include file="../application/index/view/common/header.html" /}

	<section class="main">
		<div class="topicTop">
			<a href="">OPPO社区<s></s></a>
			<span>发帖<u></u><s></s></span>
		</div>
		<!-- 侧边栏开始 -->
		<aside class="rSide">
			<a class="rbox publish box">
				<i></i>
				<p>发表帖子</p>
			</a>
			<a class="rbox sign box">
				<i></i>
				<span>签到</span>
				<b>签到<em>305321</em>人</b>
			</a>
			<div class="label box">
				<h1 class="boxTitle"> 热门标签 </h1>
				<h2 >
					<a href="">R11</a>
					<a href="">R9s</a>
					<a href="">R9</a>
				</h2>
			</div>
			<div class="box down">
				<img src="/static/images/15111425086094.png">
				<p>OPPO社区APP</p>
				<a href="">下载到电脑</a>
			</div>
			<div class="contact box">
				<h1 class="boxTitle"> 关注我们 </h1>
				<span href="" class="rbox weibo">
					<i></i>
					<p><em></em>官方微博</p>
				</span>
				<span href="" class="rbox wechat">
					<i></i>
					<p><em></em>官方微信</p>
					<b>扫一扫</b>
				</span>
			</div>
		</aside>
		<!-- 侧边栏结束 -->
		
		<aside class="lSide box">
			<!-- 帖子编辑区 -->
			<div id="content-container" style="margin:15px;">
				<div style="margin:10px;">
					<div style="clear: both;">
						<form>
							<div style="margin-bottom: 20px;">
								<input type="text" name="title" style="width: 700px;height: 30px; line-height: 30px; padding-left: 20px; " placeholder="请输入标题">
							</div>
							<div style="margin-bottom: 20px;">
								<button style="width: 200px;height: 30px;line-height: 30px; background: #F60; text-align: center;">选择上传图片</button><br />
								<input type="file" name="img" style="width:200px; height:30px; margin-top: -30px; opacity: 0; float: left;" onchange="uploadsimage(this);" id="image" multiple>
								<input type="hidden" name="pictureUploads" value="" id="pictureUploads">
								<!-- <img src="" style="width: 200px; margin-top: 2px;" id="uploadsimg"> -->
							</div>
							<div id="img-list-box">
							</div>
							<div style="clear: both;">
							<div style="margin-bottom: 20px; height: 400px;" id="content-box">
								
							</div>
						</form>
					</div>
				</div>
			</aside>

			<h1 class="clear"></h1>
		</section>


		{include file="../application/index/view/common/footer.html" /}


<script type="text/javascript">

//上传图片
function uploadsimage(obj) {
    if ( obj.value == "" ) return;

    var formdata = new FormData();

    formdata.append("image" , $(obj)[0].files[0]);//$(obj)[0].files[0]为文件对象

    $.ajax({
        type : 'post',
        url : '/index/common/uploadsimage',
        data : formdata,
        cache : false,
        processData : false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
        contentType : false, // 不设置Content-type请求头
        success : function(ret){
         	var html = '<div style="position:relative; top:0px; left:0px;width:130px;float:left"><div style="float:left"><img src="'+ret+'" style="width:120px" style="position:absolute; left:0px;">';
         	html += '<img src="/static/images/close.png" onclick="delImg(this);" style="position:absolute; right:0px;top:0px; width:20px;"></img>';
         	html += '</div></div>';
         	// console.log(html);
        	$('#img-list-box').append(html);

        },
        error : function(){ 
          alert('图片上传失败');
        }
    });
}

//删除添加的图片
function delImg(obj) {

	$(obj).parent('div').remove();

}
</script>

<script src="/static/assets/js/jquery.min.js"></script>

<script src="/static/assets/js/amazeui.min.js"></script>

<script src="/static/assets/js/app.js"></script>
<!-- 配置文件 -->
<script type="text/javascript" src="/static/UEditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/static/UEditor/ueditor.all.js"></script>
<!-- 实例化编辑器 -->
<script type="text/javascript">
	var ue = UE.getEditor('content-box');
</script>

</body>
</html>