<div class="personal_info">
			<div class="menu">
				<div class="menu_title">个人设置</div>
				<ul>
					<li class="menu_li">
						<a href="/index/personalcenter/edit" class="menu_a" id="on">基本信息</a>
					</li>
					<li class="menu_li">
						<a href="/index/updatepwd/index" class="menu_a">修改密码</a>
					</li>
				</ul>
				
				<div class="menu_title">订单</div>
				<ul>
					<li class="menu_li"><a href="/index/orderreceive/alist" class="menu_a">收到的订单</a></li>
					<li class="menu_li"><a href="/index/personalorder/alist" class="menu_a">我下的订单</a></li>
				</ul>
				
				<div class="menu_title">书籍</div>
				<ul>
					<li class="menu_li"><a href="/index/personalsale/index" class="menu_a">出售书籍</a></li>
					<li class="menu_li"><a href="/index/personalinquiry/index" class="menu_a">求购书籍</a></li>
				</ul>
				
				<div class="menu_title">留言</div>
				<ul>
					<li class="menu_li"><a href="/index/personalbcomment/index" class="menu_a">出售留言</a></li>
					<li class="menu_li"><a href="/index/personalscomment/index" class="menu_a">求购留言</a></li>
				</ul>
			</div>
