*{
	margin: 0;
	padding: 0;
}
body{
	/*background: #f0f3ef;*/
}
ul,li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.q{
	width: 100%;
	height: 30px;
	background: #f4f4f4;
}
.top_content{
	width: 1161px;
	margin: 0px auto;
	font-size: 12px;
	height: 30px;
	line-height: 30px;
	letter-spacing: 0.05em;
	color: #999;
}
.welcome_txt{
	float: left;
	margin-left: 10px;
}
.right{
	float: right;
	margin-right: 8px;
	overflow: hidden;
}
.right a{
	color: #888;
}
.right a:hover{
	color: #00C7B4;
}
.shu{
	margin: 0 8px;
}

.w{
	width: 1161px;
	margin: 0px auto;
	margin-top: 8px;
	overflow: hidden;
}
.top{
	margin: 10px 0;
}
.logo{
    position: relative;
    display: inline-block;
    width: 230px;
    padding-left: 12px;
    background: #fff;
}

.search{
	position: absolute;
	display: inline-block;
	top: 73px;
	margin-left: 163px;
	/*width: 200px;*/
	border: 1px solid #00c7b4;
	border-radius: 3px;
}
.search_a{
	width: 440px;
	height: 38px;
	border: none;
	outline: none;
	font-size: 15px;
	text-indent: 0.2em;
}
.search_b{
	display: inline-block;
	width: 70px;
	height: 40px;
	text-align: center;
	line-height: 39px;
	font-size: 17px;
	background: #00c7b4;
	border: none;
	color: white;
	margin-left: -5px;
	outline: none;
}
.search input::-webkit-input-placeholder { 
color: #999; 
-webkit-transition: color.5s; 
} 
.search input:focus::-webkit-input-placeholder { 
color: white; 
-webkit-transition: color.5s; 
}
.nav{
	height: 56px;
	background-color: #00C7B4;
	line-height: 54px;
}
.nav_bar{
	width: 1161px;
	margin: 0 auto;
	font-size: 17px;
	font-weight: bold;
}
.all_type{
	position: relative;
	float: left;
	width: 233px;
	color: white;
	text-indent: 2em;
}
.all_type_a{
	position: absolute;
    top: 28px;
    right: 49px;
    display: block;
    border: 8px solid #fff;
    border-color: #fff transparent transparent transparent;
}
.nav_r{
	float: left;
	margin-left: 1px;
}
.nav_bar a{
	display: inline-block;
	float: left;
	color: white;
}
.nav_bar a:hover{
	background: #00cfbe;
}
.nav_bar li{
	display: inline-block;
	float: left;
	height: 54px;
	text-align: center;
	width: 110px;
}
.nav_active{
	background: #00cfbe;;
}
