<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街添加出售书籍</title>
		<link rel="shortcut icon" href="__IMG__/shu.ico" />
		<link rel="stylesheet" href="__CSS__/back/user.css" />
		<link rel="stylesheet" href="__CSS__/back/common.css" />
		<link rel="stylesheet" href="__CSS__/back/add.css" />
		
		<script type="text/javascript" src="__JS__/back/jquery.min.js"></script>
		<script type="text/javascript" src="__JS__/back/public.js"></script>
		<script type="text/javascript" src="__JS__/back/addSale.js"></script>

		<style>
			.tip {
				display: none; 
				padding-left: 83px; padding-top: 5px; color: red;
			}
		</style>
	</head>
	<body>
	<!-- 头部	 -->
	{include file="../application/admin/view/common/header.html"}
	<!-- 头部结束	 -->

	<!-- 左边节点 -->
	{include file="../application/admin/view/common/menu.html"}
	<!--左边结点结束-->
	
	<!--添加用户开始-->
	<div id="MainForm">
		<div class="form_boxA">
			<div class="a">
				<h2>淘书街添加新出售书籍</h2>
			</div>
			<form action="/admin/sale/saleBookAdd" method="post" enctype="multipart/form-data" class="add_form" onsubmit="return checkSale()">
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>ISBN：</label>
					<input type="text" name="isbn" placeholder="请输入10位或13位ISBN码" class="add_input" onfocus="Isbn()" onblur="checkISBN()"/>
					<span class="tip" id="tip-ISBN">请输入10位或13位的ISBN号</span>
				</div>
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>书名：</label>
					<input type="text" name="name" placeholder="请输入书名" class="add_input" onfocus="Name()" onblur="checkName()"/>
					<span class="tip" id="tip-name">请输入书名</span>
				</div>
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>作者：</label>
					<input type="text" name="author" placeholder="多个作者可用空格隔开" class="add_input" onfocus="Author()" onblur="checkAuthor()"/>
					<span class="tip" id="tip-author">请输入作者，多个作者可用空格隔开</span>
				</div>
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>出版社：</label>
					<input type="text" name="publishing" placeholder="请输入出版社" class="add_input" onfocus="Publishing()" onblur="checkPublishing()" />
					<span class="tip" id="tip-publishing">请输入出版社</span>
				</div>
				<div class="add_list">
					<label class="add_label">封面图片：</label>
					<input type="file" name="img" onchange="uploadsimage(this);" />
					<!-- <span class="tip" id="tip-img"></span> -->
					<div id="imgBox"></div>
					<input type="hidden" name="img" id="Img" value="">
				</div>
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>原价：</label>
					<input type="text" name="beprice" placeholder="请输入大于等于0的数字" class="add_input" onfocus="Beprice()" onblur="checkBeprice()"/>
					<span class="tip" id="tip-beprice">请输入大于等于0的数字</span>
				</div>
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>售价：</label>
					<input type="text" name="afprice" placeholder="请输入大于等于0的数字" class="add_input" onfocus="Afprice()" onblur="checkAfprice()"/>
					<span class="tip" id="tip-afprice">请输入大于等于0的数字</span>
				</div>
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>数量：</label>
					<input type="text" name="num" placeholder="请输入大于0的整数" value="1" class="add_input" onfocus="Num()" onblur="checkNum()"/>
					<span class="tip" id="tip-num">请输入大于0的整数</span>
				</div>
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>书籍页码：</label>
					<input type="text" name="page" placeholder="请输入大于0的整数" class="add_input" onfocus="Page()" onblur="checkPage()"/>
					<span class="tip" id="tip-page">请输入大于0的整数</span>
				</div>
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>新旧程度：</label>
					<select class="add_input" name="degrees">
						<option value="全新">全新</option>
						<option value="九成新">九成新</option>
						<option value="八成新">八成新</option>
						<option value="七成新">七成新</option>
						<option value="六成新及以下">六成新及以下</option>
					</select>
				</div>
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>书籍分类：</label>
					<select class="add_input" name="type">
						<?php foreach($typeSecond as $key => $value){ ?>
						<option value="<?php echo $value['second_id']; ?>"><?php echo $value['second_name']; ?></option>
						<?php } ?>
					</select>
				</div>
				<div class="add_list">
					<label class="add_label"><span class="xing">*</span>出售人：</label>
					<select class="add_input" name="user">
						<?php foreach($users as $key => $value){ ?>
						<option value="<?php echo $value['user_id']; ?>"><?php echo $value['user_realname']; ?></option>
						<?php } ?>
					</select>
				</div>
				<div class="add_list">
					<label class="add_label" style="margin-top: 30px;">内容简介：</label>
					<textarea name="content" class="add_textarea"></textarea>
				</div>
				<input type="submit" value="提交" class="add_submit" />
			</form>
		</div>
	</div>
	<!--添加用户结束-->
	</body>
</html>

<script>
	var user = document.getElementById("user");
	user.getElementsByClassName("icon1")[0].style.display = "block";
	user.getElementsByClassName("icon2")[0].style.display = "none";
	user.getElementsByClassName("icon3")[0].style.display = "block";
	user.getElementsByClassName("icon4")[0].style.display = "none";
	user.getElementsByClassName("icon5")[0].style.display = "block";
	user.getElementsByClassName("coin11")[0].style.display = "block";
	user.getElementsByClassName("coin22")[0].style.display = "none";
	
	user.getElementsByTagName("dd")[1].style.display = "block";
	
	user.getElementsByClassName("cks")[0].setAttribute("class", "menu_chioce2");
	user.getElementsByTagName("dd")[0].style.display = "block";
</script>

<script type="text/javascript">
//上传图片
function uploadsimage(obj) {
	if ( obj.value == "" ) return;

	var formdata = new FormData();

    formdata.append("image", $(obj)[0].files[0]);//$(obj)[0].files[0]为文件对象
    formdata.append("path", 'sale');

    console.log(formdata);

    $.ajax({
    	type : 'post',
    	url : '/admin/common/UploadsImage',
    	data : formdata,
    	cache : false,
        processData : false, // 不处理发送的数据，因为data值是Formdata对象，不需要对数据做处理
        contentType : false, // 不设置Content-type请求头
        success : function(ret){
        	var html = '<img src="'+ret+'" style="width:120px">';


         	console.log(html);
         	$('#imgBox').html(html);
         	
         	
        	console.log(ret);
        	// $('#headImg').val(ret);
        	$('#Img').attr('value', ret);
        },
        error : function(){ 
        	alert('图片上传失败');
        }
    });
}
</script>