<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>淘书街出售书籍管理</title>
		<link rel="shortcut icon" href="__IMG__/shu.ico" />
		<link rel="stylesheet" href="__CSS__/back/user.css" />
		<link rel="stylesheet" href="__CSS__/back/common.css" />
		<link rel="stylesheet" href="__CSS__/back/page.css" />
		<link rel="stylesheet" href="/static/font/css/font-awesome.min.css" />
		<link rel="stylesheet" href="__CSS__/back/saleBookDetail.css" />
		
		<script type="text/javascript" src="__JS__/back/jquery.min.js"></script>
		<script type="text/javascript" src="__JS__/back/public.js"></script>
		<script type="text/javascript" src="__JS__/back/search.js"></script>
		<script type="text/javascript" src="__JS__/back/CheckBox.js"></script>
		
		<style>
			.form_boxA td{
				font-size: 13px;
    			padding: 14px 7px;
			}
		</style>
	</head>
	<body>
	<!-- 头部	 -->
	{include file="../application/admin/view/common/header.html"}
	<!-- 头部结束	 -->

	<!-- 左边节点 -->
	{include file="../application/admin/view/common/menu.html"}
	<!--左边结点结束-->
	
	<!--用户列表开始-->
	<div id="MainForm">
		<div class="form_boxA">
			<div class="a">
				<h2>淘书街出售书籍列表</h2>
				<form action="/admin/sale/saleBookSearch" method="post" onsubmit="return checkSearch()" class="searchform">
					<input type="text" class="search" placeholder="书名" name="search" />
					<input type="submit" class="search_button" value="搜索" />
				</form>
				<a href="/admin/sale/addPage" class="addUser"><i class="fa fa-plus-circle"></i> 添加新出售</a>
			</div>
			<div id="sort-nav" >
				<ul>
					<li><a>综合排序</a></li>
					<li><a>新旧程度</a></li>
					<li><a href="/admin/sale/orderByVolume">销量</a></li>
					<li><a href="/admin/sale/orderByNumber">库存</a></li>
					<li>
						<span class="prize-box"><a>价格</a><img src="__IMG__/coin20.png">
						<div class="prize-content" style="width: 170px;"> 
							<ul>
								<li style="font-weight: normal; width: 150px;" onclick="">
									<a href="/admin/sale/orderByPriceDesc">价格从高到低</a>
								</li>
								<li style="font-weight: normal; width: 150px; margin: 0px;" onclick="">
									<a href="/admin/sale/orderByPrice">价格从低到高</a>
								</li>
							</ul>
						</div>
						</span>
					</li>
				</ul>
			</div>
			<form action="/admin/sale/checkedBookDelete" method="post">
			<table cellpadding="0" cellspacing="0">
				<tr>
					<th><input type="checkbox" name="fullChoose" onclick="fullChecked(this)" /></th>
					<th>ISBN</th>
					<th>书名</th>
					<th>作者</th>
					<th>出版社</th>
					<th>类型</th>
					<th>新旧程度</th>
					<th>价格</th>
					<th>库存</th>
					<th>简介</th>
					<th>出售人</th>
					<th>操作</th>
				</tr>
				{volist name="saleBookList" id="value"}
				<tr>
					<td><input type="checkbox" name="ids[]/a" onclick="eachChecked()" class="eachChoose" value="{$value.sale_id}"/></td>
					<td>{$value.sale_isbn}</td>
					<td class="sale_c" style="max-width: 120px;">
						<img src="{$value.sale_img}" style="width: 21px;height: 30px;vertical-align: middle;" />
						
						<a href="/admin/sale/saleBookDetail?sale_id={$value.sale_id}">{$value.sale_name}</a>
					</td>
					<td class="sale_c" style="max-width: 90px;">{$value.sale_author}</td>
					<td class="sale_c" style="max-width: 80px;">{$value.sale_publishing}</td>
					<td class="sale_c" style="max-width: 80px;">{$value.second_name}</td>
					<td>{$value.sale_degrees}</td>
					<td><span style="color: #19a97b;">￥{$value.sale_afprice}</span><br />
						<span style="text-decoration: line-through; font-size: 12px;">￥{$value.sale_beprice}</span>
					</td>
					<td>{$value.sale_num}</td>
					<td class="sale_c">{$value.sale_content}</td>
					<td>{$value.user_realname}</td>
					<td>
						<a href="/admin/sale/editPage?sale_id={$value.sale_id}" class="op"><i class="fa fa-edit" title="编辑"></i></a> 
						<a href="/admin/sale/saleBookDelete?sale_id={$value.sale_id}" class="op" onclick="return del()">
							<i class="fa fa-trash-alt" title="删除"></i>
						</a> 
					</td>
				</tr>
				{/volist}
			</table>
			<p class="msg">
				<span id="notdisplay" style="display: none;"></span>
				<input type="submit" value="删除选中" class="delBtn" id="delBtn" disabled="disabled" onclick='return checkdel();'/>
				共找到 {$bookNumber} 条书籍信息，每页显示15条记录
			</p>
			<div class="" style="text-align: center;margin-bottom:20px; ">
			{$saleBookList->render()}
			</div>
			</form>
		</div>
	</div>
	<!--用户列表结束-->
	
	</body>
</html>


<script>
	var user = document.getElementById("user");
	user.getElementsByClassName("icon1")[0].style.display = "block";
	user.getElementsByClassName("icon2")[0].style.display = "none";
	user.getElementsByClassName("icon3")[0].style.display = "block";
	user.getElementsByClassName("icon4")[0].style.display = "none";
	user.getElementsByClassName("icon5")[0].style.display = "block";
	user.getElementsByClassName("coin11")[0].style.display = "block";
	user.getElementsByClassName("coin22")[0].style.display = "none";
	
	user.getElementsByTagName("dd")[1].style.display = "block";
	
	user.getElementsByClassName("cks")[0].setAttribute("class", "menu_chioce2");
	user.getElementsByTagName("dd")[0].style.display = "block";
	
	function del(){
		return window.confirm("你确认要删除该书籍、包括该书籍的留言信息吗？");
	}
	function checkdel(){
		return window.confirm("你确认要删除选中的书籍、包括书籍的留言及订单信息信息吗？");
	}
</script>